log/*
movie/*
*.avi
*.png
*.tgz
*.tex
filelist.txt
bisection.dat
TAGS
*.o
*.a
*.dat
harmonic
harmonic_mm_bubbling
harmonic_bubbling
gnuplot*
plotter.gp
*.ps
*.pdf
shooting1
shooting2
harmonic_ys_bisection
*.log
